<hr />
<div class="container text-center">
  <p class="text-xinChao">Xin chao {{account.email}}!</p>
  <p class="accTitle">Edit Profile</p>
</div>
<div class="container text-center">
  <!-- <form class="row g-3 needs-validation" novalidate>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-md-4">
        <label for="validationCustom03" class="form-label">Name</label>
        <input
          ng-model="form_acc.name"
          type="text"
          class="form-control"
          id="validationCustom03"
          required
        />
        <small ng-hide="form_acc.name.$valid" class="text-danger"
          >Không được để trống</small
        >
        <div class="invalid-feedback">Please provide a valid name.</div>
      </div>
      <div class="col-md-4">
        <label for="validationCustom03" class="form-label">Email</label>
        <input
          ng-model="form_acc.email"
          type="text"
          class="form-control"
          id="validationCustom03"
          required
        />
        <small ng-hide="form_acc.name.$valid" class="text-danger"
          >Không được để trống</small
        >
        <div class="invalid-feedback">Please provide a valid email.</div>
      </div>
      <div class="col-2"></div>
    </div>
    <div><br /></div>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-md-4">
        <label for="validationCustom03" class="form-label">Address</label>
        <input
          ng-model="form_acc.diaChi"
          type="textarea"
          class="form-control"
          id="validationCustom03"
          ng-required="true"
        />
        <small ng-hide="form_acc.diaChi.$valid" class="text-danger"
          >Khong duoc de trong</small
        >
        <div class="invalid-feedback">Please provide a valid address.</div>
      </div>

      <div class="col-md-4">
        <label for="">Gender</label>
        <div class="form-check">
          <input
            ng-model="form_acc.gioiTinh"
            value="Man"
            ng-checked="form_acc.gioiTinh == 'Man'"
            class="form-check-input"
            type="radio"
            name="gioiTinh"
            id="flexRadioDefault1"
          />
          <label class="form-check-label" for="flexRadioDefault1"> Man </label>
        </div>
        <div class="form-check">
          <input
            ng-model="form_acc.gioiTinh"
            value="Woman"
            ng-checked="form_acc.gioiTinh == 'Woman'"
            class="form-check-input"
            type="radio"
            name="gioiTinh"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Woman
          </label>
        </div>
        <div class="form-check">
          <input
            ng-model="form_acc.gioiTinh"
            value="Secret"
            ng-checked="form_acc.gioiTinh == 'Secret'"
            class="form-check-input"
            type="radio"
            name="gioiTinh"
            id="flexRadioDefault2"
            checked
          />
          <label class="form-check-label" for="flexRadioDefault2">
            Secret
          </label>
        </div>
      </div>
      <div class="col-2"></div>
    </div>
    <div class="col-12">
      <a href="#updateProfile"
        ><button class="btn btn-primary" type="submit">Submit form</button></a
      >
    </div>
  </form> -->
  <button class="section6-TheirLove-col2-readMore">Edit profile</button>
  <br /><br />
  <a href="#doi-mat-khau"
    ><button class="section6-TheirLove-col2-readMore">
      Change password
    </button></a
  >
  <br /><br />
  <a href="#logout">
    <button class="section6-TheirLove-col2-readMore">Log out</button>
  </a>
</div>
