.accTitle {
  letter-spacing: 1px;
  font-size: 2rem;
  font-family: PlayfairDisplay-Regular, PlayfairDisplay;
  color: black;
  font-weight: 700;
}
.accText {
  letter-spacing: 0.4px;
  font-size: 0.9rem;
  font-family: PlayfairDisplay-Regular, PlayfairDisplay;
  color: gray;
  font-weight: lighter;
}
.card1-profile {
  margin-left: 71px;
  margin-bottom: 30px;
  margin-top: 50px;
}
.card2-order {
  margin-left: 141px;
  margin-bottom: 30px;
}
/* user profile */
.text-xinChao {
  letter-spacing: 0.5px;
  font-size: 1.1rem;
  font-family: PlayfairDisplay-Regular, PlayfairDisplay;
  color: black;
  font-weight: lighter;
}
